[bsd:children]
bdmhack-workbench
bdmhack-database

[bdmhack-workbench]
workbench.bdmhack ansible_ssh_host={workbench}

[bdmhack-database]
database1.bdmhack ansible_ssh_host={database1}
database2.bdmhack ansible_ssh_host={database2}
database3.bdmhack ansible_ssh_host={database3}
database4.bdmhack ansible_ssh_host={database4}
database5.bdmhack ansible_ssh_host={database5}
